body {
	background-color:powderblue;
    text-align: center;
	font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
}
header{
	text-align:center;
    font-size: 10px;
    color:cadetgreen;
    align-self: stretch;
}	

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 50px;
}
nav ul li {
    float: left;
    border: 1px solid #878E63;
    width: 12%;
}
nav ul li a {
    backface-visibility: navajowhite;
    display: block;
    padding: 5% 12%;
    font-weight: bold;
    font-size: 18px;
    color: #878E63;
    text-decoration: none;
    text-align: center;
}
nav ul li a:hover {
    background-color: #878E63;
    color: antiquewhite;
}
nav ul li.active a {
    background-color: #878E63;
    color: antiquewhite;
}
.banner img{
    width: 100%;
    border-top: 1px solid #878E63;
    border-bottom: 1px solid #878E63;
}
button {
    background-color: #878E63;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
footer{
	background-color: #878E63;
	padding:15px;
	margin-top:15px;
	height:60px;
}

/* ==== MEDIA Querys!!! ==== */
@media screen and (max-width: 478px){
    body {
        font-size: 13px;
    }
}
@media screen and (max-width: 600px){
    body {
        font-size: 10px;
    }
}
@media screen and (max-width: 740px){  
    nav {
        width: 100%;
        margin-bottom: 10px;

    }
    nav ul {
        list-style: none;
        margin: 0 auto;
        padding-left: 0;  
    }
    nav ul li {
        text-align: center;
        margin-left: 0 auto;
        width: 100%;
    }
} 